In [13]:
import pandas as pd

In [14]:
ontime_201401=pd.read_csv("ontime_201401.csv")

In [15]:
ontime_201401.head()

,YEAR,MONTH,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,...,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 25
0,2014,1,2014-01-01,AA,19805,1,12478,JFK,"New York, NY",NY,...,914,14,1238,13,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,1,2014-01-02,AA,19805,1,12478,JFK,"New York, NY",NY,...,857,-3,1226,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,1,2014-01-03,AA,19805,1,12478,JFK,"New York, NY",NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,1,2014-01-04,AA,19805,1,12478,JFK,"New York, NY",NY,...,1005,65,1324,59,0,59,0,0,0,NaN
4,2014,1,2014-01-05,AA,19805,1,12478,JFK,"New York, NY",NY,...,1050,110,1415,110,0,110,0,0,0,NaN

In [16]:
ontime_201402=pd.read_csv("ontime_201402.csv")

In [17]:
ontime_201402.shape

(430602, 26)

In [18]:
ontime_201402.iloc[0]

YEAR                              2014
MONTH                                2
FL_DATE                     2014-02-01
UNIQUE_CARRIER                      AA
AIRLINE_ID                       19805
FL_NUM                               1
ORIGIN_AIRPORT_ID                12478
ORIGIN                             JFK
ORIGIN_CITY_NAME          New York, NY
ORIGIN_STATE_ABR                    NY
ORIGIN_STATE_NM               New York
DEST_AIRPORT_ID                  12892
DEST                               LAX
DEST_CITY_NAME         Los Angeles, CA
DEST_STATE_ABR                      CA
DEST_STATE_NM               California
DEP_TIME                           859
DEP_DELAY                           -1
ARR_TIME                          1226
ARR_DELAY                            1
CARRIER_DELAY                      NaN
WEATHER_DELAY                      NaN
NAS_DELAY                          NaN
SECURITY_DELAY                     NaN
LATE_AIRCRAFT_DELAY                NaN
Unnamed: 25                        NaN
Name: 0, dtype: object

In [19]:
airport=pd.read_csv("airports.csv")

/Users/vivian/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1139: DtypeWarning: Columns (29,30,31,32,34,35,39,40,41,42,43,44,45,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [20]:
airport.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,...,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11,NaN,US,US-PA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450,NaN,US,US-AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820,NaN,US,US-AL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6526,00AR,heliport,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237,NaN,US,US-AR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6527,00AZ,small_airport,Cordes Airport,34.305599,-112.165001,3810,NaN,US,US-AZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
US_airport=airport[airport.iso_country=="US"]

In [22]:
airportData=US_airport[["municipality","latitude_deg","longitude_deg"]]

In [23]:
airportData.head()

   municipality  latitude_deg  longitude_deg
0      Bensalem     40.070801     -74.933601
1  Anchor Point     59.949200    -151.695999
2       Harvest     34.864799     -86.770302
3       Newport     35.608700     -91.254898
4        Cordes     34.305599    -112.165001

In [24]:
airportData.shape

(21490, 3)

In [25]:
citiesData = []
for i in xrange(airportData.shape[0]):
    citiesData.append({})
    citiesData[i]["city"] = airportData["municipality"].iloc[i]
    citiesData[i]["location"] = {"lat": airportData["latitude_deg"].iloc[i],
                                "long": airportData["longitude_deg"].iloc[i]}

In [26]:
citiesData[:4]

[{'city': 'Bensalem',
  'location': {'lat': 40.070800779999999, 'long': -74.933601379999999}},
 {'city': 'Anchor Point',
  'location': {'lat': 59.94919968, 'long': -151.69599909999999}},
 {'city': 'Harvest',
  'location': {'lat': 34.864799499999997, 'long': -86.77030182}},
 {'city': 'Newport',
  'location': {'lat': 35.608699799999997, 'long': -91.254898069999996}}]

In [27]:
citiesData[0]['city']

'Bensalem'

In [28]:
len(citiesData)

21490

In [29]:
import json
from json import dumps, load

In [34]:
with open("airport.json", "w") as outfile:
    for i in xrange(len(citiesData)):
        json.dump(citiesData[i], outfile, separators=(',',':'))

In [36]:
with open("airport.json", "w") as outfile:
    dumpData = json.dumps(citiesData, indent=4)
    outfile.write(dumpData)

In [32]:
import json
from pprint import pprint

with open('airport.json') as json_data:
    d = json.load(json_data)
    print type(d)
    json_data.close()

<type 'list'>